{% extends "index.html" %}
{% load bootstrap5 %}
{% block principal %}
{% block title %}Cadastro de Reservas{% endblock %}
<div class="container espaco-superior">
  <h1 class="text-center">
    Reserve o banho do seu PET
  </h1>
  {% if sucesso %}
  <div class="alert alert-success" role="alert">
    Reserva feita com sucesso!
  </div>
  {% endif %}
  <form method="post" novalidate>
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-primary">Reservar</button>
  </form>
</div>
{% endblock %}
