

@font-face {
    font-family: fontelogo;
    src: url('../fonts/pacifico-regular.ttf');
}

a#linklogo{
    font-family: fontelogo;
    font-size: 2em;
}
div#contatologo{
    visibility: visible;
}
div#contatologo a{
    color: white;
    font-size: 2em;
    padding: 10px;
}

#carouselExampleDark h2{
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
#carouselExampleDark p{
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

hr{
    color: black;
    font-size: 1px;
    width: 50%;
    margin:auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

#sobre{
    width: 70%;
    margin: auto;
    box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#sobre h3{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px;
}
#sobre p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-indent: 30px;
}
#sobre img{
    width: 60%;
    height: 60%;
    border-radius: 10px;
    
}

#contato{
    width: 100%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 30px;
}
#contato h3{
    color: white;
}

#contato p{
    color: white;
}
#contato section#links a{
    color:white;
    font-size: 2em;
    padding: 10px;
}

#newsletter{
    width: 100%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#newsletter h3{
    color: black;
}

#newsletter p{
    color: black;
}
#newsletter section#formulario {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color:white;
    padding: 10px;
    width: 80%;
    max-width: 800px;

}

#newsletter section#formulario input{
    font-family: Arial, Helvetica, sans-serif;
    font-family: 2em;
}
#newsletter section#formulario input:hover{
    color: primary;
}

footer{
    padding: 40px;
}
footer hr{
    width: 30%;
    color: white;
    height: 2px;
}
footer p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
footer a{
    color: white;
}

footer i{
    font-size: 3em;
    color: white;
}
@media (max-width: 800px) {
    div#contatologo{
        display: none;
    }
    #contato{
        width: 100%;
        padding: 30px;
        margin-top: 30px;
        text-align: center;
    }
    #contato p{
        text-indent: 0px;
    }


    #sobre {
        width: 90%;
        margin: auto;
        box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        padding: 10px;
        
    }
    #sobre img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
        
    }
    .newsletter input{
        flex-basis: 100%;
        font-size: 1em; 

    }
    footer > a {
        font-size: 1em;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        
    }
    footer > a > i{
        font-size: 2em;
        color: white;
        
    }

}
@media(min-width: 900px){
    #corousel_img-1, #corousel_img-2, #corousel_img-3{
        width: 100% !important; 
        height: 90vh !important;
    }
    

}

.espaco-superior {
    margin-top: 100px; /* Ajuste essa margem conforme necessário */
}